{% extends 'base.html' %}

{% block head %}
<title> Landing Page </title>
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="title">

        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <label for="due-date">Due Date</label>
        <input type="date" id="due-date" name="due-date">

        <label for="task-category">Category</label>
        <input type="text" id="task-category" name="task-category">

        <label for="submit">Submit Form</label>
        <input type="submit" id="submit" content="Submit" class="submit">

    </form>
</div>
<div>
    <h3>Current Tasks</h3>
    <table>
        {% for task in task_list %}
        <tr>
            <th>Title</th>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Due Date</th>
            <td>{{ task.due }}</td>
        </tr>
        <tr>
            <th>Completed?</th>
            <td>{{ task.completed }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ task.category }}</td>
        </tr>
        <tr>
            <th>This will be a link to update</th>
        </tr>
        <tr>
            <td>
                <a href="/delete/{{ task.id }}">Link to delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}